.articles {
    height: 500px;
    @media (max-width: 1280px) {
        height: 450
    }
    @media (max-width: 1280px) {
        height: 450
    }
    @media (max-width: 880px) {
        height: 350
    }
    @media (max-width: 580px) {
        height: 250
    }
}